services:
  documentstore:
    build: .
    #image: deknijf/docstore:${GIT_TAG}
    container_name: documentstore
    ports:
      - "${HOST_PORT:-8000}:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped
